https://download.pytorch.org/whl/cpu/torch-2.2.2%2Bcpu-cp311-cp311-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.17.2%2Bcpu-cp311-cp311-linux_x86_64.whl
pysqlite3-binary
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
backoff
bcrypt
beautifulsoup4
build
certifi
cffi
charset-normalizer
chromadb
click
colorama
cryptography
dataclasses-json
defusedxml
distro
durationpy
easyocr
emoji
et_xmlfile
fastapi
filelock
filetype
flatbuffers
frozenlist
fsspec
googleapis-common-protos
greenlet
groq
grpcio
gunicorn
h11
hf-xet
html5lib
httpcore
httptools
httpx
httpx-sse
huggingface_hub
idna
ImageIO
importlib_resources
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-protocol
langchain-text-splitters
langdetect
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lazy-loader
llvmlite
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
mypy_extensions
narwhals
neo4j
networkx
ninja
nltk
numba
numpy
oauthlib
olefile
onnxruntime
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
overrides
packaging
pandas
pdfminer.six
pdfplumber
pillow
propcache
protobuf
psutil
pybase64
pyclipper
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pymupdf
pypdf
pypdfium2
PyPika
pyproject_hooks
python-bidi
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-oxmsg
pytz
PyYAML
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
safetensors
scikit-image
scikit-learn
scipy
sentence-transformers
setuptools
shapely
shellingham
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tifffile
tokenizers
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
uuid_utils
uvicorn
watchfiles
webencodings
websocket-client
websockets
wrapt
xxhash
yarl
zstandard
