fastapi
uvicorn

python-dotenv

langchain
langgraph
langchain-community
langchain-groq

chromadb

neo4j

sentence-transformers

unstructured
pdfplumber
pymupdf
python-docx
openpyxl

pillow
easyocr
networkx

tqdm

pydantic

numpy

pandas

python-multipart

httpx

orjson

rapidfuzz